html {
    background-color: rgb(243, 237, 229);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(56, 99, 99);
}

.form-input {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(54, 68, 194);
    box-shadow: 2px 2px 2px rgb(131, 123, 123);
    width: 40%;
    line-height: 1.5;
}

#input-text1 {
    margin-left: 9px;
}

#input-text2 {
    margin-left: 9px;
}

#input2 {
    margin-top: 3px;
}

.form-check {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(194, 98, 54);
    box-shadow: 2px 2px 2px rgb(131, 123, 123);
    width: 40%;
}

.form-check legend {
    padding-top: 10px;
}

.form-radio {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(53, 160, 39);
    box-shadow: 2px 2px 2px rgb(131, 123, 123);
    width: 40%;
}

.form-radio legend {
    padding-top: 10px;
}

.form-block button {
    margin-top: 10px;
}

.form-block button:active {
    box-shadow: 2px 2px 3px #c0c0c0;
}